<div class="jumbotron masthead">
  <div class="container">
    <h1>Reboot.</h1>
    <p>Powerful tools to support teachers and learners.</p>
    <p><a href="#" class="btn btn-primary btn-large" >Come kick some a$$</a></p>
    <ul class="masthead-links">
      <li><a href="#" >GitHub project</a></li>
      <!--<li><a href="./extend.html" >Extend</a></li>-->
      <li>Version 0.1.0</li>
    </ul>
  </div>
</div>

<!--div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @twbootstrap</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
      </li>
    </ul>
  </div>
</div-->

<div class="container">
  <div class="marketing">
    <h1>Introducing Education Reboot.</h1>
    <p class="marketing-byline">Too cool for school.</p>
    <div class="row-fluid">
      <div class="span4">
        <%= image_tag 'green_star.png' %>
        <h2>Veni.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero elit, scelerisque quis pharetra quis, condimentum sed lorem. Ut id consectetur nisl. Integer non vestibulum purus. Nunc ac iaculis justo.</p>
      </div>
      <div class="span4">
        <%= image_tag 'bs-docs-responsive-illustrations.png' %>
        <h2>Vidi.</h2>
        <p>Sed leo purus, tincidunt sed ornare sed, porta ac lorem. Nulla facilisi. Integer venenatis risus justo, sit amet eleifend purus interdum non. Integer sed vehicula diam, sed sodales magna.</p>
      </div>
      <div class="span4">
        <%= image_tag 'jgo.jpg' %>
        <h2>Vici.</h2>
        <p>Fusce sollicitudin nisl sed varius iaculis. Praesent euismod sed tortor ullamcorper tristique. Quisque at nunc erat. Cras in ligula lobortis, pharetra velit a, egestas quam. Duis eget diam vel mauris aliquam ultricies. Nulla tortor augue, fringilla a quam quis, varius dapibus ante.</p>
      </div>
    </div>

    <hr class="soften" />

</div>
</div>